*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

    h1{
        font-size: 50px;

    }
    .bib{
        color: coral;
    }
    .topban{
        margin-bottom: 150px;
        display: flex;
    }
    .pk{
        padding-left: 3%;
        width: 50%;
    }
    .pk img{
        width: 70%;
    }
    .dk{
        
        width: 50%;
        padding: 3%;
    }
    .dk h3{
        margin-bottom: 3%;
        margin-top: 6%;
    }
   .hk{
    text-decoration: none;
    background-image: linear-gradient(aqua ,blue );
    font-weight: 700px;
    color: aliceblue;
    border-radius: 5px;
    padding: 5px 40px;
    line-height: 250%
    

   }
   .topban{

    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
   }
   .nextpart{
    display: flex;
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right ;
 

   }
   .mk{
        width: 50%;
        margin-left: 10%;
   }
   .mk img{
    width: 80%;
   }
   .op{
    width: 50%;
    margin-top: 5%;
    padding-right: 6%;

   }
   .hello{
    text-decoration: none;
    background-image: linear-gradient(aqua,blue);
    padding: 10px 40px;
    border-radius: 6px;
    line-height: 250%;
    color: aliceblue;
   }
   .op h2{
    margin-bottom:8% ;
   }
   .op h4{
    margin-bottom: 4%;
   }
   .all{
    display: flex;
   }
   .devo{
    
    width: 50%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    border-left:7px solid blue  ;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 8%;
   
   }
   .sevo{
    
    width: 50%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    border-left: 7px solid rgb(180, 66, 14);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 8%;
   }
   .devo h2{
    color: rgb(123, 208, 5);
    margin-top: 2%;
    margin-bottom: 4%;
   }
   .sevo h2{
    color:rgb(123, 208, 5);
    margin-top: 2%;
    margin-bottom: 4%;
   
   }
   .devo h4{
    margin-top: 2%;
    margin-bottom: 2%;
   }
   .sevo h4 {
       margin-top: 2%;
       margin-bottom: 2%;
   }
   .ex{
    background-image: url(./images/exp-bg.png);
    background-repeat:no-repeat;
   }
   footer p{
    text-align: center;

   }
